.title {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    margin-top: 15px
    ;
}
 img { fill-opacity: ;

 }
 ul {
     display: inline-block;

 }
 li {
     display: inline-block;
 }